* {
    font-size: 20px;
    font-family: sans-serif, Verdana;
}
body {
    background-image: url("images/1327898.png");
    height: auto;
    background-size: cover;
}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}
h1, h2, h3 {
    font-weight: 500;
}

.container {
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.45);
    padding: 5px;
}
h1 {
    text-align: center;
}
ul li {
    text-align: center;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: auto;
}
ul {
    padding: 0;
}
.center-text {
    text-align: center;
}
.img {
    width: 50%;
    margin: auto;
    padding: 0;
}
img {
    width: 100%;
    margin: auto;
    padding: auto;
    border: none;
}
.btn-container {
    width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;

}
